.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-light {
  box-shadow: 1px 1px darkgray;
  margin-right: 5px;
}

.btn {
  padding: 10px;
  width: 80px;
}

.filter {
  margin: 30px 0;
}
