<router-outlet></router-outlet>

<!-- <app-categories-detail *ngIf="hideShow" [categoryName]="currentCategory">
</app-categories-detail> -->

<div class="">
  <a routerLink="add">Aggiungi una categoria</a>
</div>

<div class="">
  <label for="filter">Filtra: </label><br>
  <input list="filter-opt" id="filter" name="filter" (change)="filterCategory(filter.value)" #filter>
  <datalist id="filter-opt">
    <option *ngFor="let category of categoryArr" value={{category.name}}></option>
  </datalist>
</div>

<table class="table table-striped">
  <!-- CDN per le icone -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Numero di oggetti</th>
      <th scope="col">Opzioni</th>
    </tr>
  </thead>

  <tbody>
    <!-- Generazione dinamica tabella  -->
   <ng-template ngFor let-category [ngForOf]="categoryArr" let-i="index">

    <tr  id={{category.name.toLowerCase()}}>
      <th scope="row">{{category.id}}</th>
      <td><span class="icon">{{ category.id | icon }}</span>{{category.name}}</td>
      <td>{{category.description}}</td>
      <td>{{getNumOfItemsPerCategory(category.id)}}</td>
      <td>
        <button class="btn btn-light" (click)="hide(category.id)">{{toggleClose(category.id)}}</button>
        <span [ngClass]="[willBeDisabled(category.id)]">
          <button class="btn btn-warning" [ngClass]="[willBeDisabled(category.id)]" (click)="deleteCategory(category.id)">Cancella</button>
        </span>
      </td>
    </tr>
    <tr *ngIf="detailCategoryArr[i]">
      <td colspan="5">
        <app-categories-detail  [categoryName]="currentCategory">
        </app-categories-detail>
      </td>
    </tr>

  </ng-template>
  </tbody>
</table>
