<p>modifica works!</p>
<div>{{id}}</div>
<div>{{utente.id}}</div>
<div>{{utente.name}}</div>
<div>{{utente.surname}}</div>
<div>{{utente.dob}}</div>
<div>{{utente.email}}</div>
<div *ngIf="mostra()" (submit)="onsubmit()">
<form action="" [formGroup]='checkform'>
<input type="text" id="name" [value]='utente.name' formControlName="nome">
<div>{{checkform.controls.nome.invalid}}</div>
<input type="text" id="surname" [value]='utente.surname' formControlName="cognome">
<div>{{checkform.controls.cognome.invalid}}</div>
<input type="date" id="dob" formControlName="dob">
<div>{{checkform.controls.dob.invalid}}</div>
<input type="text" id="email" [value]='utente.email' formControlName="email">
<div>{{checkform.controls.email.invalid}}</div>
<input type="submit">
</form >
</div>
<p>{{checkform.invalid}}</p>