<p>modifica works!</p>
<div>{{id}}</div>
<div>{{utente.id}}</div>
<div>{{utente.name}}</div>
<div>{{utente.surname}}</div>
<div>{{utente.dob}}</div>
<div>{{utente.email}}</div>
<div *ngIf="mostra()" (submit)="onsubmit()">
<form action="" [formGroup]='checkform'>
<input type="text" id="name" [value]='utente.name' formControlName="nome">
<div>{{checkform.controls.nome.invalid}}</div>
<input type="text" id="surname" [value]='utente.surname' formControlName="cognome">
<div>{{checkform.controls.cognome.invalid}}</div>
<input type="date" id="dob" formControlName="dob">
<div>{{checkform.controls.dob.invalid}}</div>
<input type="text" id="email" [value]='utente.email' formControlName="email">
<div>{{checkform.controls.email.invalid}}</div>
<div *ngFor="let oggetto of oggetti" class="row m-5">
    <div *ngIf="oggetto.owner==utente.id || oggetto.owner==null" class="d-inline block" [style.background-image]="'url('+oggetto.imgurl+')'" style="max-width:100px;max-height:100px;background-size: cover;">
        <span>{{oggetto.id}}</span>
        <span>{{oggetto.name}}</span>
        <span>{{oggetto.owner}}</span>
        <span>{{oggetto.description}}</span>
        <span>{{oggetto.price}}</span>
        <button *ngIf="oggetto.owner==null" (click)="setItems(oggetto)">aggiungi</button>
        <button *ngIf="oggetto.owner==utente.id" (click)="setItems(oggetto)">togli</button>
    </div>
</div>
<input type="submit">
</form >
<button (click)="distruggiUtente()">distruggi utente</button>
</div>
