.modifiystyle{
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_container{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
    .btn{
        width:30%;
        margin-bottom:1%;
    }
}

.dropdown{
    margin-bottom: 1%;
}

.dropdown-toggle{
    margin-left: 1%;
}

.photo_container{
    img{
        margin-top: 2%;
        width:50%;
        height: 50%;
    }
}
