<form>
    <h1>Modifica Categoria</h1>
    <div class="form-container bg-light">
        <label for="catName" class="">Nome: </label>
        <input id="catName" type="text" value="{{catName}}" placeholder={{catName}} minlength="3" maxlength="25"
            #nameInput>
        <br>
        <label for="catDescr" class="">Descrizione: </label>
        <input id="catDescr" type="text" value="{{catDescr}}" placeholder={{catDescr}} minlength="5" maxlength="40"
            #descrInput>
        <div id="error" style="color: red">
        </div>
        <div class="button-wrapper">
            <button (click)="editCat(nameInput.value, descrInput.value)" class="btn btn-primary">Conferma
                Modifica</button>
            <button (click)="goBack()" class="btn btn-primary">Indietro </button>
        </div>
    </div>
</form>