.dettaglistyle{
    display: flex; 
    flex-direction: row;
    width: 100%;
    //justify-content: center;
    //align-items: center;
}
.styleimgurl{
    width: 33.4%; 
    margin: auto; 
}
.stylecontainerdetails{
    width: 66.6%; 
}
img{
    max-width: 450px;
    max-height: auto;
    margin: auto; 
    }