.dettaglistyle{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    height: auto;
}

.col-md-6{
    padding: 2%;
}

img{
    max-width: 450px;
    max-height: auto;
}

.button_container{
    display: flex;
    justify-content: flex-end;
}