<!-- <a [routerLink]="['aggiungi-oggetto']">Aggiungi</a> -->


<!-- <div>
  <p>{{ itemProva$ | async | json }}</p>
  <p>{{ itemProva2$ | async | json }}</p>  
</div> -->
<div *ngIf="mostra">
  <h1 class='display-1' style="margin-top: 2%; text-align: center;">Bazar dell'usato</h1>

  <div class="buttonMenu">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle filtri" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-filter"></i>&nbsp;Filtri
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <!-- <li><a class="dropdown-item">Nome Oggetto</a></li> -->
        <li>
          <div class="input-group mb-3">
            &nbsp;<input type="text" class="form-control" placeholder="nomeOggetto" aria-label="Username" aria-describedby="basic-addon1">&nbsp;          
          </div>
        </li>
        <li><hr class="dropdown-divider"></li> 
        <li>
          <div class="dropdown">
            <div class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-list"></i>&nbsp;Categoria</div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Nome Oggetto</a></li>     
            </ul>       
          </div>
        </li>
        <li><hr class="dropdown-divider"></li> 
        <li><a class="dropdown-item"><i class="fas fa-user"></i>&nbsp;Proprietario</a></li>
      </ul>
    </div>
    &nbsp;  
    <div class="addItem"><a type="button addItem" [routerLink]="['aggiungi-oggetto']" class="btn btn-outline-success"><i class="fas fa-plus"></i>&nbsp;Nuovo Oggetto</a></div>
  </div>


  <div id="carouselExampleIndicators" class="carousel slide carouselWrapper" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" ></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div *ngFor="let item of items;" class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img [src]="item.imgurl" class="card-img-top" alt="item">   
          <div class="card-body">
            <h4 class="card-title">{{item.name}}</h4><br/>
            <div class="row">
              <div class="col">
                <h5 class="card-text">{{item.price! | currencyEur}}</h5>  
              </div>
              <div class="col">
                <div class="dropdown" style="display: flex; justify-content: flex-end;">
                  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Opzioni
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['dettagli-oggetto']" ><i class="fas fa-eye"></i>&nbsp;Dettagli</a></li>
                    <li><hr class="dropdown-divider"></li> 
                    <li><a class="dropdown-item" [routerLink]="['modifica-oggetto/'+item.id]" (click)="modify(+item.id!)"><i class="fas fa-edit"></i>&nbsp;Modifica</a></li>
                    <li><hr class="dropdown-divider"></li> 
                    <li><a class="dropdown-item"><i class="fas fa-trash-alt"></i>&nbsp;Elimina</a></li> 
                  </ul>
                </div>
              </div>
            </div>  
          </div>    
        </div> 
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden" >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" ></span>
      <span class="visually-hidden" >Next</span>
    </button>
  </div>
</div>

  


<router-outlet></router-outlet>