<div class="container">
  <div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div  style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 5%;">
      <h2>AGGIUNGI UN NUOVO UTENTE</h2>
      <button class="btn btn-success" style="margin: 5%;"  [routerLink]='"/users/aggiungi"'>AGGIUNGI</button>
    </div>
   
  </div>
  <div style="width: 40%; margin: 0 auto;">

    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">cognome</th>
          <th scope="col"></th>
         </tr>
       </thead>
       <tbody>

         <tr *ngFor="let utente of utenti">
           <th scope="row">{{utente.id}}</th>
           <td>{{utente.name}}</td>
           <td>{{utente.surname}}</td>
           <td>
             <div style="display: flex; justify-content: center; align-items: center;">
               <button class="btn btn-success" ><a [routerLink]="['/users/modifica', utente.id] ">edit</a></button>
             </div> 
           </td>
         </tr>

       </tbody>
     </table>
   </div>
</div>
