<form #form="ngForm" >
<div class="form"  >
  <div class="title">Aggiungi</div>
  <div class="subtitle">Aggiungi il tuo utente</div>
  <div class="input-container ic1">
    <input id="firstname" class="input" type="text" placeholder=" " name="nome"required="required" minlength="4"  ngModel #nome="ngModel"/>
    <div class="cut"></div>
    <label for="firstname" class="placeholder"></label>
        <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"class="alert">
          <div *ngIf="nome.errors?.['required']">
            Name is required.</div>
          <div *ngIf="nome.errors?.['minlength']">
            Name must be at least 4 characters long.</div>
      </div>
  </div>
  <div class="input-container ic2">
    <input id="lastname" class="input" type="text" placeholder=" " name="cognome" ngModel #cognome="ngModel" minlength="4" required="required" />
    <div class="cut"></div>
    <label for="lastname" class="placeholder"></label>
      <div *ngIf="cognome.invalid && (cognome.dirty || cognome.touched) "class="alert">
        <div *ngIf="cognome.errors?.['required']">
          Cognome is required.</div>
        <div *ngIf="cognome.errors?.['pattern']">
          Cognome is not valid.</div>  
        </div>
  </div>
  
  <div class="input-container ic2">
    <input id="dob" class="input" type="date" placeholder=" " name="data" ngModel #data="ngModel" required="required"/>
    <div class="cut"></div>
    <label for="dob" class="placeholder" > </label>
        <div *ngIf="email.errors?.['required']">
           Data is required.
          </div>  
  </div>
  
  <div class="input-container ic2">
    <input id="email" class="input" type="text" placeholder=" " name="email" ngModel #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30" required="required"/>
    <div class="cut cut-short"></div>
    <label for="email" class="placeholder"></label>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors?.['required']">
          Email is required.</div>
        <div *ngIf="email.errors?.['pattern']">
          Email is not valid.</div>  
  </div> 
  </div>
  <button type="submit" class="submit"(click)="onsubmit(form)">Aggiungi</button>
</div>
</form>