<form #form="ngForm" >
<div class="form"  >
  <div class="title"><h4>Aggiungi utente</h4></div>
  <div class="subtitle"></div>
  <div class="input-container ic1">
    <input id="firstname" class="input" type="text" placeholder="Inserisci tuo nome " name="nome"required="required" minlength="4"  ngModel #nome="ngModel"/>
    <div class="cut"></div>
    <label for="firstname" class="placeholder"></label>
        <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"class="alert">
          <div *ngIf="nome.errors?.['required']" >
            Name is required.</div>
          <div *ngIf="nome.errors?.['minlength']">
            Name must be at least 4 characters long.</div>
      </div>
  </div><br><br>
  <div class="input-container ic2">
    <input id="lastname" class="input" type="text" placeholder="Inserisci tuo cognome " name="cognome" ngModel #cognome="ngModel" minlength="4" required="required" />
    <div class="cut"></div>
    <label for="lastname" class="placeholder"></label>
      <div *ngIf="cognome.invalid && (cognome.dirty || cognome.touched) "class="alert">
        <div *ngIf="cognome.errors?.['required']">
          Cognome is required.</div>
        <div *ngIf="cognome.errors?.['minlength']">
          Cognome is not valid.</div>  
        </div>
  </div>
  <br><br>
  <div class="input-container ic2">
    <input id="dob" class="input" type="date" placeholder=" Inserisci tua data di nascita" name="data" ngModel #data="ngModel" required="required" pattern='^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$'/>
    <div class="cut"></div>
    <label for="dob" class="placeholder" > </label>
        <div *ngIf="email.errors?.['required']">
            Data di nacsita is required.</div> 
          <div *ngIf="email.errors?.['pattern']">
            Data is not valid.</div> 
  </div><br>
  <br>  <div class="input-container ic2">
    <input id="email" class="input" type="text" placeholder="Inserisci tuo email " name="email" ngModel #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30" required="required"/>
    <div class="cut cut-short"></div>
    <label for="email" class="placeholder"></label>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors?.['required']">
          Email is required.</div>
        <div *ngIf="email.errors?.['pattern']">
          Email is not valid.</div>  
  </div> 
  </div><br>
  <button type="submit" class="submit"(click)="onsubmit(form)">Aggiungi</button>
</div>
</form>