form {
  margin-bottom: 1rem;
  div {
    margin-bottom: 1rem;
    input {
      width: 30%;
    }
  }
}

button {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
  &:hover {
    color: #f8f9fa;
    background-color: #212529;
    border-color: #212529;
  }
}
.btn-back {
  margin: 0 20px;
}

// form-control:focus {
//   border-color: #fff3cd !important;
// }
