<form class="">
  <h4>Aggiungi una categoria</h4>

  <div class="">
    <label for="add-categ" class="form-label">Inserisci il nome di una nuova categoria</label>
    <input type="email" class="form-control" id="add-categ" placeholder="es: Giardineria">
  </div>
  
  <div class="">
    <label for="add-categ" class="form-label">Inserisci la descrizione della nuova categoria</label>
    <input type="email" class="form-control" id="add-categ" placeholder="es: accessori per il giardino">
  </div>

  <button type="submit" class="btn btn-primary">Aggiungi</button>
</form>
